/*Google Fonts-Poppins and Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* #4C6663
D4C5E2
C9D7F8
 */
:root {
    --primary-color: #9dffde;
    --secondary-color:#4C6663;
    --tertiary-color: ;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Navbar */
.navbar {
    position: fixed;
    padding: 30px 0px;
    z-index: 999;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color:var(--primary-color);
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color:var(--secondary-color);
    font-size: 35px;
    font-weight: 600;
}